
/* =====================================   Normalize CSS   ===================================== */



/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*Responsive design*/

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* =====================================   Normalize CSS End  ===================================== */


/******************/
/*   Definitions  */
/******************/

:root {  
  --beige: #8E8268;
  --brown: #844D36;
  --blue: #86B3D1;
  --lgray: #AAA0A0;
  --dgray: #474853;
  --boxShadow: 2px 2px 5px 1px var(--lgray);
  --boxShadowDark: 2px 2px 5px 1px var(--dgray);
  --boxBorder: 1px solid var(--lgray);
  --maxWidthText: 1024px;
  --maxWidthBox: 800px;
}

/******************/
/*     Generic    */
/******************/

html h1, html h2, html h3, html h4, html h5 { 
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
 }

html p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: medium;
  font-weight: 200;
  line-height: 1.5em;
}

html .passwordInput {
  -webkit-text-security: disc;
}


/******************/
/*     Header     */
/******************/
#header { 
  display: flex;
  padding: 10px; 
  background-color: var(--beige);
  box-shadow: var(--boxShadowDark);
  position: sticky;
  top: 0px;
  z-index: 5;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > i { 
  margin-right: auto; 
  align-self: center;
  cursor: pointer;
  margin-bottom: 0px;
}

.box:last-child  > div { 
  margin-left: auto; 
}

#title { 
  margin: -6px; 
  color: white;
  display: flex;
  height: 30px;
}

#title > h1 { 
  font-size: xx-large;
}

#beetroot { 
  margin-top: 9px;
} 

/******************/
/*     Footer     */
/******************/

.footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--beige);
  color: white;
  padding: 5vh 0px ;
  margin-top: 3vh;
}

.footerWrapper { 
  max-width: 15vw;
 }


/******************/
/*     Navbar     */
/******************/

.navbar { 
  width: 30vw;
  height: 100vh;
  background-color: var(--brown);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  z-index: 20;
 }

.navbar h1 { 
  color: white;
  padding: 0.4em 0.6em;
  margin: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar a {
  padding: 1em;
  color: white; 
  font-size: large;
}

.navbar a:hover, .navbar h1:hover {
  color: var(--dgray);

}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 15;
}

#cartNumber { 
  position: absolute;
  background-color: red;
  width: 14px;
  color: white;
  border: 1px solid white; 
  border-radius: 10px;
  font-size: xx-small;
  padding: 0.2em;
  top: 25px;
  right: 57px;
  text-align: center;
 }

/******************/
/* Section Styles */
/******************/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** Splash Image ***/

#splashImage { 
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 60vh;
 }

/*** Splash section ***/

.splashSection { 
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    margin: 3vh 0px;
 }


/**********************/
/* Boxes / Containers */
/**********************/

/*** Overlapping ***/

.overlappingBox { 
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center; 
 width: 45vw;
 position: relative;
 top: -15vh;
 background-color: white;
 padding: 2em;
 box-shadow: var(--boxShadow);
 border-radius: 5px;
 margin-bottom: -15vh;
 z-index: 4;
 max-width: var(--maxWidthBox);  
}

.overlappingBox p { 
  padding: 1em 3em;
  text-align: center;
 }

/*** Whitespace Container ***/

.whitespaceContainer { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  padding: 3vh 0px;
  text-align: center;
  max-width: var(--maxWidthText);  
  margin: 3vh 0px;
}

/*** Highlight Container ***/

.highlightContainer { 
  display: flex;
  background-color: var(--dgray);
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 6vh 15vw;
  text-align: center;
  margin: 3vh 0px;
  width:  100vw;
}

.highlightContainer p, .highlightContainer h2 {
  max-width: var(--maxWidthText);

}

/*** Box Container ***/
.boxContainer { 
  border: var(--boxBorder);
  box-shadow: var(--boxShadow);
  margin: 0px 0px 3vh;
  padding: 2em;
  border-radius: 5px;
  width: 70vw;
  max-width: var(--maxWidthText);
}

.messageBox {
  margin: 3vh;
  box-shadow: var(--boxShadow);
  border: var(--boxBorder);
  border-radius: 5px;
  padding: 1em;
}

/*** Form Container ***/

.formContainer { 
  width: 45vw;
  text-align: center;
  padding-bottom: 3vh;
}


/******************/
/*    Grids    */
/******************/

.gridWrapper { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0px;
  width: 70vw;
  max-width: var(--maxWidthText);
}

/*** Grid Gallery ***/

.gridGallery{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  width: 90vw;
  max-width: var(--maxWidthText);
}

/*** Grid Alternating ***/

.gridAlternating { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
  max-width: var(--maxWidthText);
  grid-auto-rows: minmax(auto, 470px);
}

/*** Grid Cart ***/

.gridCart { 
  display: grid;
  grid-template-columns: 1fr;
  width: 70vw;
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  margin: -40px 0px 6vh;
  max-width: var(--maxWidthText);
}

/*** Grid Order ***/
.gridOrder { 
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}
.orderWrapper { 
  border-bottom:  var(--boxBorder);
  margin-bottom: 2em;
}


 /*** Grid Components ***/

.cartItemGrid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 40px;
  border: var(--boxBorder);
  align-items: center;
  text-align: center;
 }
 
 .cartItemGrid > p {
  margin: 0px;
  padding: 0.5em;

 } 

.deleteButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: darkred;

}

.gridHolder {
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  border: var(--boxBorder);
}

.gridImg { 
  background-color: var(--beige);
  width: 100%;
  object-fit: cover;
  height: 100%;
 }

.gridGallery .gridText {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1em;
 text-align: center;
}

.gridAlternating .gridText {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1em;
 text-align: left;
}

.gridText h3 {
  align-self: flex-start;
}

/*** Products Grid Adjustments ***/
#products .gridImg, #product .gridImg  { 
  height: 100%; 
}

.gridGalleryImg { 
  height: 270px;
  width: 100%;
}
 
#products .productTextWrapperLeft, #product .productTextWrapperLeft {
  padding: 5px 0px 5px 5px;
} 

#products .productTextWrapperRight {
  padding: 5px 5px 5px 0px;
} 

#products .ui.button.toggle.active, #product .ui.button.toggle.active {
  background: var(--beige) !important;
}

#product .ui.form, #products .ui.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/********************/
/*  Media queries   */
/********************/
@media screen and (max-width:1000px) { 


  /*** Font sizes ***/
  html p {
    font-size: small;
  }
  html h1 {
    font-size: 24px;
  }
  html h2 {
    font-size: 21px;
  }
  html h3 {
    font-size: 18px;
  }
  html h4 {
    font-size: 16px;
  }
  html h5 {
    font-size: 14px;
  }

  /*** Box sizes & Containers ***/
  .overlappingBox { 
    width: 70vw;
  }
  .boxContainer, .gridCart, .gridAlternating, .highlightContainer p, .highlightContainer h2, .whitespaceContainer { 
    width: 90vw;
  }


}

@media screen and (max-width:808px) { 


  /*** Splash Images ***/
  .splashSection {  
    height: 20vh;
   }
   #splashImage { 
    height: 30vh;
    }
  
  /*** Header & Footer ***/
  #header {
    display: grid;
    grid-template-columns: 10vw 90vw;  

  }
  .box:last-child > div { 
    margin-right: 20px;
   }
  
  .box:last-child { 
    justify-content: flex-end;
   }
   
  #title { 
    display: none;
   }

  .footerWrapper { 
    max-width: 30vw;
  }


  /*** Grids & Containers***/
  .gridGallery{ 
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gridAlternating, .gridCart, .boxContainer, .navbar {
    width: 100vw;
  }

  .boxContainer { 
    border-radius: 0px;
  }
}


@media screen and (max-width:600px) { 
   


  /*** Header & Footer ***/

   /*** Splash ***/
   .splashSection { 
    display: none;
  }

  /*** Font sizes ***/
  html p {
    font-size: small;
  }
  html h1 {
    font-size: 21px;
  }
  html h2 {
    font-size: 18px;
  }
  html h3 {
    font-size: 16px;
  }
  html h4 {
    font-size: 14px;
  }
  html h5 {
    font-size: 12px;
  }

  /*** Box sizes & Containers ***/
  .overlappingBox { 
    width: 90vw;
  }
  /*** Grids & Containers***/
  .gridGallery{ 
    grid-template-columns: 1fr 1fr;
  }
  .gridAlternating { 
    grid-template-columns: 1fr;
   }
  #products .ui.form, #product .ui.form {  
    align-items: center;
    text-align: center;
  }
  .gridText h3, .gridText p {
    align-self: center;
    text-align: center;
  }
  #buttonsCart { 
    display: flex;
    justify-content: center;

  }
}





